.first-entry {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 320px;
}

.cal-heatmap-container {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 125px;
    overflow: hidden;
}

.site-stat{
    font-size: 14px;
    margin-left: 12px;
}
.site-stat span{
    color: #eea2a4;
    float: right;
    margin-left: 5px;
}